<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'notFound.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="4" size-md="6" size="12">
        <ion-item lines="none">
          <p>{{ 'notFound.message' | translate }}</p>
        </ion-item>
        <ion-item lines="none">
          <ion-button slot="end" fill="solid" color="primary" (click)="navigate()">
            {{ 'notFound.nav' | translate }}
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
