<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'account.plural' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="create()">
        <ion-icon slot="icon-only" ios="add-outline" md="add"></ion-icon>
      </ion-button>
      <ion-button (click)="presentSort($event)">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="sortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" placeholder="{{ 'account.search' | translate }}" inputmode="search"
                   (ionChange)="search($event.target.value)"
                   (ionClear)="resetList()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-container *ngIf="accounts.length > 0">
      <ng-container *ngFor="let a of accounts; let i = index">
        <ion-item lines="none">
          <ion-icon slot="start" ios="person-circle-outline" md="person-circle"
                    *ngIf="a.owner"></ion-icon>
          <ion-icon slot="start" ios="checkmark-circle-outline" md="checkmark-circle"
                    *ngIf="!a.owner && a.canEdit"></ion-icon>
          <ion-icon slot="start" ios="remove-circle-outline" md="remove-circle"
                    *ngIf="!a.owner && !a.canEdit"></ion-icon>
          <ion-label>
            <h2>{{a.name}}</h2>
            <small><b>{{ 'currency.singular' | translate }}:</b> {{a.currency.name}}</small>
          </ion-label>
          <ion-button fill="clear" color="dark" fxHide.xs="true" slot="end" [routerLink]="[a.id]">
            {{ 'general.view' | translate }}
            <ion-icon slot="end" name="eye"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="dark" fxHide.gt-xs="true" slot="end" [routerLink]="[a.id]">
            <ion-icon slot="end" name="eye"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="full">
          <ion-label slot="end" class="ion-text-end">
            <ion-text [color]="a.balance > 0 ? 'success' : (a.balance == 0 ? 'medium' : 'danger') ">
              <b>{{ a.currency.symbol }} {{a.balance | number: '0.2-2' }}</b>
            </ion-text>
          </ion-label>
        </ion-item>
      </ng-container>
    </ng-container>

    <ion-item *ngIf="loadingContent">
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
