<ion-grid>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="8">

      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="cancel()">
            {{ 'general.cancel' | translate }}
            <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
          </ion-button>
          <ion-button color="danger" fill="solid" size="small" *ngIf="!editing && !isSending"
                      (click)="delete()">
            {{ 'general.delete' | translate }}
            <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                      [disabled]="form.invalid">
            {{ 'general.save' | translate }}
            <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
          </ion-button>
          <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="edit()">
            {{ 'general.edit' | translate }}
            <ion-icon slot="end" ios="pencil-outline" md="pencil"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </ion-col>
  </ion-row>

  <form role="form" [formGroup]="form">

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'general.name' | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

  </form>

  <ion-row class="ion-justify-content-center"
           *ngIf="!editing && grouping.balances != null && grouping.balances.length > 0">

    <ion-col size="12" size-md="8">
      <ion-card>

        <ion-card-header>
          <ion-card-title>{{ 'grouping.totals' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>

            <ion-row class="ion-justify-content-center">
              <ion-col size="8">
                <ion-label>
                  <h2 class="ion-text-start">{{ 'currency.singular' | translate }}</h2>
                </ion-label>
              </ion-col>
              <ion-col size="4">
                <ion-label>
                  <h2 class="ion-text-end">{{ 'grouping.total' | translate }}</h2>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center" *ngFor="let b of grouping.balances">

              <ion-col size="8">
                <ion-label>
                  <h3 class="ion-text-start">{{ b.currencyName }}</h3>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-label>
                  <ion-text [color]="b.total > 0 ? 'success' : (b.total == 0 ? 'medium' : 'danger') ">
                    <b>{{ b.currencySymbol }} {{b.total | number: '0.2-2' }}</b>
                  </ion-text>
                </ion-label>
              </ion-col>

            </ion-row>

          </ion-grid>
        </ion-card-content>

      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="8" *ngFor="let b of grouping.balances">
      <ion-card>

        <ion-card-header>
          <ion-card-title>{{ 'grouping.totalsByCcy' | translate }}</ion-card-title>
          <ion-card-subtitle>{{ b.currencyName }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>

            <ion-row class="ion-justify-content-center">
              <ion-col size="8">
                <ion-label>
                  <h2 class="ion-text-start">{{ 'account.singular' | translate }}</h2>
                </ion-label>
              </ion-col>
              <ion-col size="4">
                <ion-label>
                  <h2 class="ion-text-end">{{ 'grouping.total' | translate }}</h2>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center" *ngFor="let a of b.byAccount | keyvalue">

              <ion-col size="8">
                <ion-label>
                  <h3 class="ion-text-start">{{ a.key }}</h3>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-label>
                  <ion-text [color]="a.value > 0 ? 'success' : (a.value == 0 ? 'medium' : 'danger') ">
                    <b>{{ b.currencySymbol }} {{a.value | number: '0.2-2' }}</b>
                  </ion-text>
                </ion-label>
              </ion-col>

            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="8">
                <ion-label>
                  <h3 class="ion-text-start">{{ 'grouping.total' | translate }}</h3>
                </ion-label>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <ion-label>
                  <ion-text [color]="b.total > 0 ? 'success' : (b.total == 0 ? 'medium' : 'danger') ">
                    <b>{{ b.currencySymbol }} {{b.total | number: '0.2-2' }}</b>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-card-content>

      </ion-card>
    </ion-col>

  </ion-row>

</ion-grid>
