<ion-header>

  <ion-toolbar>
    <ion-title>{{ 'grouping.singular' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentMovementSort($event)" *ngIf="segment == 'accounts'">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="accountSortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="info" [(ngModel)]="segment" [disabled]="grouping == null">
      <ion-segment-button value="detail">
        <ion-label>{{ 'grouping.detail' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accounts">
        <ion-label>{{ 'account.plural' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ng-container [ngSwitch]="segment" *ngIf="grouping != null">
    <app-grouping-info [grouping]="grouping" *ngSwitchCase="'detail'"></app-grouping-info>
    <app-grouping-accounts [grouping]="grouping" *ngSwitchCase="'accounts'"></app-grouping-accounts>
  </ng-container>
</ion-content>
