<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="6" size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ 'login.title' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-list>
              <form role="form" [formGroup]="loginForm">
                <ion-item>
                  <ion-label position="floating">
                    {{ 'login.email' | translate }}
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">
                    {{ 'login.password' | translate }}
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-button size="medium" type="submit" (click)="submit()"
                              [disabled]="loginForm.invalid || isSending" slot="end">
                    {{ 'login.submit' | translate }}
                  </ion-button>
                </ion-item>
              </form>
            </ion-list>

            <ion-list lines="none">
              <ion-list-header>
                <ion-label><h2>{{ 'setting.defaultLanguage' | translate }}</h2></ion-label>
              </ion-list-header>

              <ion-item *ngFor="let lang of languages">
                <ion-checkbox color="success"
                              [checked]="defaultLang != null && defaultLang.code === lang.code"
                              [disabled]="isSending" slot="start" (click)="updateDefaultLang(lang)">

                </ion-checkbox>
                <ion-label>{{lang.name}}</ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
