<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar debounce="500" placeholder="{{ 'user.search' | translate }}" inputmode="search" slot="start"
                   (ionChange)="search($event.target.value)"
                   (ionClear)="resetList()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ng-container *ngIf="users.length > 0">
      <ng-container *ngFor="let u of users">
        <ion-item *ngIf="ignoreUser == null || ignoreUser.movementUser == null || ignoreUser.movementUser.id != u.id">
          <ion-label>{{u.name}}</ion-label>
          <ion-button fill="solid" size="small" color="primary" (click)="closeModal(u)">
            {{ 'general.select' | translate }}
          </ion-button>
        </ion-item>
      </ng-container>
    </ng-container>
    <ion-item *ngIf="loadingContent">
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
