<ion-header>

  <ion-toolbar>
    <ion-title>{{ 'permission.singular' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="reset()">
        {{ 'general.cancel' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="solid" size="small"
                  *ngIf="!editing && !isSending && permission != null" (click)="delete()">
        {{ 'general.delete' | translate }}
        <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                  [disabled]="form.invalid">
        {{ 'general.save' | translate }}
        <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="edit()">
        {{ 'general.edit' | translate }}
        <ion-icon slot="end" ios="pencil-outline" md="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <form role="form" [formGroup]="form">
    <ion-grid>

      <ion-row class="ion-justify-content-center">

        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">
              {{ 'user.singular' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="user" [readonly]="true" (click)="searchUser()"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="8">
          <ion-list>
            <ion-radio-group formControlName="permission">
              <ion-list-header>
                <ion-label>{{ 'permission.level' | translate }}</ion-label>
              </ion-list-header>
              <ion-item lines="none">
                <ion-label>{{ 'permission.read' | translate }}</ion-label>
                <ion-radio slot="start" value="READ" [disabled]="!editing"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>{{ 'permission.write' | translate }}</ion-label>
                <ion-radio slot="start" value="WRITE" [disabled]="!editing"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>

      </ion-row>

    </ion-grid>
  </form>
</ion-content>
