<ion-grid>

  <ion-list>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-item lines="none">
          <ion-searchbar debounce="500" placeholder="{{ 'movement.search' | translate }}" inputmode="search"
                         (ionChange)="search($event.target.value)"
                         (ionClear)="resetList()"></ion-searchbar>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-item lines="full">
          <ion-button fill="solid" expand="block" color="success" slot="end" (click)="open()"
                      [disabled]="!account.owner && !account.canEdit">
            {{ 'general.new' | translate }}
            <ion-icon slot="end" ios="add-outline" md="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ng-container *ngIf="movements.length > 0">
        <ng-container *ngFor="let m of movements; let i = index">

          <ion-col size="12" size-md="8">

            <ion-item lines="none">
              <ion-label>
                <h2>
                  {{m.description == null || m.description.length < 1 ? ('movement.noDesc' | translate) : m.description}}
                </h2>
                <small><b>{{ m.registered | date:dateFormat.pipe }}</b></small>
              </ion-label>
              <ion-button fill="clear" color="dark" fxHide.xs="true" slot="end" (click)="open(m, i)">
                {{ 'general.view' | translate }}
                <ion-icon slot="end" name="eye"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="dark" fxHide.gt-xs="true" slot="end" (click)="open(m, i)">
                <ion-icon slot="end" name="eye"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item lines="full">
              <ion-grid>
                <ion-row class="ion-justify-content-center">

                  <ion-col size="4">
                    <ion-label>
                      <small><b>{{ (m.debit != null ? 'movement.debit' : 'movement.credit') | translate }}</b></small>
                    </ion-label>
                  </ion-col>

                  <ion-col size="8">
                    <ion-label class="ion-text-end" *ngIf="m.debit != null">
                      <ion-text color="danger">
                        {{ account.currency.symbol }} {{m.debit | number: '0.2-2' }}
                      </ion-text>
                    </ion-label>
                    <ion-label class="ion-text-end" *ngIf="m.credit != null">
                      <ion-text color="success">
                        {{ account.currency.symbol }} {{m.credit | number: '0.2-2' }}
                      </ion-text>
                    </ion-label>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-item>

          </ion-col>

        </ng-container>
      </ng-container>

    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="loadingContent">

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label>{{ 'general.loading' | translate }}</ion-label>
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-grid>
