<ion-content>
  <ion-list *ngIf="config != null && config.elements != null && config.elements.length > 0">
    <ion-list-header lines="full">
      <ion-label>{{ 'sort.title' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let el of config.elements">
      <ng-container *ngIf="el.property != config.currentSort.property">
        {{el.title | translate}}
      </ng-container>
      <b *ngIf="el.property == config.currentSort.property">{{el.title | translate}}</b>
      <ion-buttons slot="end">
        <ion-button (click)="updateSort(el.property, true)">
          <ion-icon slot="icon-only" ios="arrow-down-outline" md="arrow-down" size="small"
                    [color]="el.property == config.currentSort.property && config.currentSort.ascending ? 'primary' : 'dark'"></ion-icon>
        </ion-button>
        <ion-button (click)="updateSort(el.property, false)">
          <ion-icon slot="icon-only" ios="arrow-up-outline" md="arrow-up" size="small"
                    [color]="el.property == config.currentSort.property && !config.currentSort.ascending ? 'primary' : 'dark'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ng-container *ngIf="config.currentSort.property != null">
        {{ 'sort.none' | translate }}
      </ng-container>
      <b *ngIf="config.currentSort.property == null">{{ 'sort.none' | translate }}</b>
      <ion-buttons slot="end">
        <ion-button (click)="updateSort(null, null)">
          <ion-icon slot="icon-only" ios="reload-outline" md="reload" size="small"
                    [color]="config.currentSort.property == null ? 'primary' : 'dark'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="popoverController.dismiss()">
      {{ 'general.close' | translate }}
      <ion-buttons slot="end">
        <ion-button (click)="popoverController.dismiss()">
          <ion-icon slot="icon-only" ios="close-outline" md="close" size="small"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
