<ion-header>

  <ion-toolbar>
    <ion-title>{{ 'movement.singular' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="reset()">
        {{ 'general.cancel' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="solid" size="small"
                  *ngIf="!editing && !isSending && movement != null && movement.id > 0" (click)="delete()"
                  [disabled]="!account.owner && !account.canEdit">
        {{ 'general.delete' | translate }}
        <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                  [disabled]="form.invalid">
        {{ 'general.save' | translate }}
        <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="edit()"
                  [disabled]="!account.owner && !account.canEdit">
        {{ 'general.edit' | translate }}
        <ion-icon slot="end" ios="pencil-outline" md="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <form role="form" [formGroup]="form">
    <ion-grid>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">
              {{ 'general.registered' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime formControlName="registered" [displayFormat]="dateFormat.selector"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">{{ 'movement.description' | translate }}</ion-label>
            <ion-input formControlName="description"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">
              {{ 'general.amount' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="amount" type="number"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="8">
          <ion-list>
            <ion-radio-group formControlName="debit" [value]="">
              <ion-list-header>
                <ion-label>{{ 'movement.txType' | translate }}</ion-label>
              </ion-list-header>
              <ion-item lines="none">
                <ion-label>{{ 'movement.debit' | translate }}</ion-label>
                <ion-radio slot="start" value="debit" [disabled]="!editing"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>{{ 'movement.credit' | translate }}</ion-label>
                <ion-radio slot="start" value="credit" [disabled]="!editing"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>

        <ion-col size="12" size-md="8" *ngIf="editing">
          <ion-item lines="none">
            <ion-label class="ion-text-end">
              {{ 'movement.currentBalance' | translate }}:
              <b>{{ account.currency.symbol }} {{account.balance | number: '0.2-2' }}</b>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="ion-text-end">
              {{ 'movement.newBalance' | translate }}:
              <b>{{ account.currency.symbol }} {{newBalance | number: '0.2-2' }}</b>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="8" *ngIf="!editing">
          <ion-list-header>
            <ion-label>{{ 'movement.resume' | translate }}</ion-label>
          </ion-list-header>

          <ion-item lines="none" *ngIf="movement.creator != null">
            <ion-label>{{ 'movement.creator' | translate }}: <b>{{ movement.creator.name }}</b></ion-label>
          </ion-item>
          <ion-item lines="inset" *ngIf="movement.creator != null">
            <ion-label class="ion-text-end">{{ movement.created | date:dateFormat.pipe }}</ion-label>
          </ion-item>

          <ion-item lines="none" *ngIf="movement.updater != null">
            <ion-label>{{ 'movement.editor' | translate }}: <b>{{ movement.updater.name }}</b></ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="movement.updater != null">
            <ion-label class="ion-text-end">{{ movement.updated | date:dateFormat.pipe }}</ion-label>
          </ion-item>

        </ion-col>

      </ion-row>

    </ion-grid>
  </form>
</ion-content>
