<ion-header>

  <ion-toolbar>
    <ion-title>{{ 'account.singular' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentMovementSort($event)" *ngIf="segment == 'movements'">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="movementSortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="info" [(ngModel)]="segment" [disabled]="account == null">
      <ion-segment-button value="detail">
        <ion-label>{{ 'account.detail' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="movements">
        <ion-label>{{ 'movement.plural' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="share" *ngIf="account != null && account.owner">
        <ion-label>{{ 'account.sharing' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ng-container [ngSwitch]="segment" *ngIf="account != null">
    <app-account-info [account]="account" *ngSwitchCase="'detail'"></app-account-info>
    <app-movement [account]="account" *ngSwitchCase="'movements'"></app-movement>
    <app-share [account]="account" *ngSwitchCase="'share'"></app-share>
  </ng-container>
</ion-content>
