<ion-grid>

  <ion-list>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-item lines="full">
          <ion-button fill="solid" expand="block" color="success" slot="end" (click)="addAccount()">
            {{ 'general.add' | translate }}
            <ion-icon slot="end" ios="add-outline" md="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" *ngIf="accounts.length > 0">
        <ion-item *ngFor="let a of accounts" lines="full">
          <ion-icon slot="start" ios="person-circle-outline" md="person-circle"
                    *ngIf="a.owner"></ion-icon>
          <ion-icon slot="start" ios="checkmark-circle-outline" md="checkmark-circle"
                    *ngIf="!a.owner && a.canEdit"></ion-icon>
          <ion-icon slot="start" ios="remove-circle-outline" md="remove-circle"
                    *ngIf="!a.owner && !a.canEdit"></ion-icon>
          <ion-label>
            <h2>{{a.name}}</h2>
            <small><b>{{ 'currency.singular' | translate }}:</b> {{a.currency.name}}</small>
          </ion-label>
          <ion-button fill="clear" color="danger" fxHide.xs="true" slot="end" (click)="removeAccount(a)">
            {{ 'general.remove' | translate }}
            <ion-icon slot="end" ios="trash-outline" md="trash"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" fxHide.gt-xs="true" slot="end" (click)="removeAccount(a)">
            <ion-icon slot="end" ios="trash-outline" md="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="loadingContent">
      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label>{{ 'general.loading' | translate }}</ion-label>
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-grid>
