<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'setting.plural' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" [disabled]="sending">
        <ion-icon slot="icon-only" ios="log-out-outline" md="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="user != null">
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-list lines="none">
          <ion-list-header>
            <ion-label><h2>{{ 'setting.dateFormat' | translate }}</h2></ion-label>
          </ion-list-header>
          <ion-item *ngFor="let format of dateFormats">
            <ion-checkbox color="success" slot="start" (click)="updateDateFormat(format.id)" [disabled]="sending"
                          [checked]="defaultDateFormat != null && defaultDateFormat.id === format.id"></ion-checkbox>
            <ion-label>{{now | date: format.pipe}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-list lines="none">
          <ion-list-header>
            <ion-label><h2>{{ 'setting.defaultLanguage' | translate }}</h2></ion-label>
          </ion-list-header>

          <ion-item *ngFor="let lang of languages">
            <ion-checkbox color="success" [checked]="defaultLang != null && defaultLang.code === lang.code"
                          [disabled]="sending" slot="start" (click)="updateDefaultLang(lang)">

            </ion-checkbox>
            <ion-label>{{lang.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <form role="form" [formGroup]="passwordForm">
          <ion-list>
            <ion-list-header>
              <ion-label><h2>{{ 'setting.updatePassword' | translate }}</h2></ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label position="floating">
                {{ 'setting.oldPassword' | translate }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="oldPassword" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                {{ 'setting.newPassword' | translate }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="newPassword" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                {{ 'setting.confirmPassword' | translate }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="confirmPassword" type="password"></ion-input>
            </ion-item>
            <ion-item lines="none"
                      *ngIf="passwordForm.get('confirmPassword').errors != null && passwordForm.get('confirmPassword').errors.confirmPasswordValidator">
              <ion-label color="danger">{{ 'setting.mismatchPasswords' | translate }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-button size="medium" type="submit" [disabled]="passwordForm.invalid || sending"
                          slot="end" (click)="updatePassword()">
                {{ 'general.save' | translate }}
              </ion-button>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>

      <ion-col size="12" size-md="8">
        <ion-list>
          <ion-list-header>
            <ion-label><h2>{{ 'setting.advance' | translate }}</h2></ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label>{{ 'setting.currentVersion' | translate }}: {{version}}</ion-label>
          </ion-item>
          <ion-item lines="none" *ngIf="status != null">
            <ion-label>{{ 'setting.currentServerVersion' | translate }}: {{status.version}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-button size="medium" slot="end" color="success" (click)="refreshPage()" [disabled]="sending">
              {{ !sending ? ('setting.update' | translate) : ('setting.updating' | translate) }}
              <ion-spinner name="dots" *ngIf="updating"></ion-spinner>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
