<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'grouping.plural' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="create()">
        <ion-icon slot="icon-only" ios="add-outline" md="add"></ion-icon>
      </ion-button>
      <ion-button (click)="presentSort($event)">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="sortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" placeholder="{{ 'grouping.search' | translate }}" inputmode="search"
                   (ionChange)="search($event.target.value)"
                   (ionClear)="resetList()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="groupings.length > 0">
    <ion-row *ngFor="let g of groupings" class="ion-justify-content-center">
      <ion-col size="12" size-md="8">

        <ion-card>

          <ion-card-header>
            <ion-card-title>{{ g.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content *ngIf="g.balances == null || g.balances.length < 1">
            <ion-item lines="none">
              <ion-label>{{ 'grouping.noBalance' | translate }}</ion-label>
            </ion-item>
          </ion-card-content>
          <ion-card-content *ngIf="g.balances != null && g.balances.length > 0">
            <ion-grid>

              <ion-row class="ion-justify-content-center">
                <ion-col size="8">
                  <ion-label>
                    <h2 class="ion-text-start">{{ 'currency.singular' | translate }}</h2>
                  </ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                    <h2 class="ion-text-end">{{ 'grouping.total' | translate }}</h2>
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-row class="ion-justify-content-center" *ngFor="let b of g.balances">

                <ion-col size="8">
                  <ion-label>
                    <h3 class="ion-text-start">{{ b.currencyName }}</h3>
                  </ion-label>
                </ion-col>
                <ion-col size="4" class="ion-text-end">
                  <ion-label>
                    <ion-text [color]="b.total > 0 ? 'success' : (b.total == 0 ? 'medium' : 'danger') ">
                      <b>{{ b.currencySymbol }} {{b.total | number: '0.2-2' }}</b>
                    </ion-text>
                  </ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>
          </ion-card-content>

          <ion-item lines="none">
            <ion-button fill="clear" color="dark" slot="end" [routerLink]="[g.id]">
              {{ 'general.view' | translate }}
              <ion-icon slot="end" name="eye"></ion-icon>
            </ion-button>
          </ion-item>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="loadingContent">
    <ion-item>
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
