<ion-grid>

  <ion-list>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-item lines="full">
          <ion-button fill="solid" expand="block" color="success" slot="end" (click)="open()">
            {{ 'general.new' | translate }}
            <ion-icon slot="end" ios="add-outline" md="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ng-container *ngIf="permissions.length > 0">
        <ng-container *ngFor="let p of permissions; let i = index">

          <ion-col size="12" size-md="8">

            <ion-item lines="full">
              <ion-label>
                <h2>{{p.user.name}}</h2>
                <small><b>{{ ('permission.' + p.permission.toLowerCase()) | translate }}</b></small>
              </ion-label>
              <ion-button fill="clear" color="dark" fxHide.xs="true" slot="end" (click)="open(p, i)">
                {{ 'general.view' | translate }}
                <ion-icon slot="end" name="eye"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="dark" fxHide.gt-xs="true" slot="end" (click)="open(p, i)">
                <ion-icon slot="end" name="eye"></ion-icon>
              </ion-button>
            </ion-item>

          </ion-col>

        </ng-container>
      </ng-container>

    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="loadingContent">

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label>{{ 'general.loading' | translate }}</ion-label>
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-grid>
