<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null)">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar debounce="500" placeholder="{{ 'account.search' | translate }}" inputmode="search" slot="start"
                   (ionChange)="search($event.target.value)"
                   (ionClear)="resetList()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ng-container *ngIf="accounts.length > 0">
      <ion-item *ngFor="let a of accounts">
        <ion-icon slot="start" ios="person-circle-outline" md="person-circle"
                  *ngIf="a.owner"></ion-icon>
        <ion-icon slot="start" ios="checkmark-circle-outline" md="checkmark-circle"
                  *ngIf="!a.owner && a.canEdit"></ion-icon>
        <ion-icon slot="start" ios="remove-circle-outline" md="remove-circle"
                  *ngIf="!a.owner && !a.canEdit"></ion-icon>
        <ion-label>
          <h2>{{a.name}}</h2>
          <small><b>{{ 'currency.singular' | translate }}:</b> {{a.currency.name}}</small>
        </ion-label>
        <ion-button fill="solid" size="small" color="primary" (click)="closeModal(a)">
          {{ 'general.select' | translate }}
        </ion-button>
      </ion-item>
    </ng-container>
    <ion-item *ngIf="loadingContent">
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
