<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="display">

    <ion-tab-button tab="groupings">
      <ion-icon md="albums" ios="albums-outline"></ion-icon>
      <ion-label>{{ 'grouping.plural' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accounts">
      <ion-icon md="journal" ios="journal-outline"></ion-icon>
      <ion-label>{{ 'account.plural' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon md="settings" ios="settings-outline"></ion-icon>
      <ion-label>{{ 'setting.plural' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
