<ion-grid>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="8">

      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="cancel()">
            {{ 'general.cancel' | translate }}
            <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
          </ion-button>
          <ion-button color="danger" fill="solid" size="small" *ngIf="!editing && !isSending && account.owner"
                      (click)="delete()">
            {{ 'general.delete' | translate }}
            <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
          </ion-button>
          <ion-button color="warning" fill="solid" size="small" *ngIf="!editing && !isSending && !account.owner"
                      (click)="leave()">
            {{ 'account.leaveAction' | translate }}
            <ion-icon slot="start" ios="log-out-outline" md="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                      [disabled]="form.invalid">
            {{ 'general.save' | translate }}
            <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
          </ion-button>
          <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="edit()"
                      [disabled]="!account.owner">
            {{ 'general.edit' | translate }}
            <ion-icon slot="end" ios="pencil-outline" md="pencil"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </ion-col>
  </ion-row>

  <form role="form" [formGroup]="form">

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'general.name' | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'currency.singular' | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="currency" [readonly]="true" (click)="searchCurrency()"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

  </form>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="8">
      <ion-list>

        <ion-list-header lines="full">
          <ion-label>{{ 'account.resume' | translate }}</ion-label>
        </ion-list-header>

        <ion-item lines="none" *ngIf="account.owner">
          <ion-icon slot="start" ios="person-circle-outline" md="person-circle"></ion-icon>
          <ion-label>{{ 'account.isOwner' | translate }}</ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf="!account.owner && account.canEdit">
          <ion-icon slot="start" ios="checkmark-circle-outline" md="checkmark-circle"></ion-icon>
          <ion-label>{{ 'account.canEdit' | translate }}</ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf="!account.owner && !account.canEdit">
          <ion-icon slot="start" ios="remove-circle-outline" md="remove-circle"></ion-icon>
          <ion-label>{{ 'account.canNotEdit' | translate }}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon slot="start" ios="information-circle-outline" md="information-circle"></ion-icon>
          <ion-label>
            {{ 'account.balance' | translate }}:
            <ion-text [color]="account.balance > 0 ? 'success' : (account.balance== 0 ? 'medium' : 'danger') ">
              <b>{{ account.currency.symbol }} {{account.balance | number: '0.2-2' }}</b>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf="account.creator != null">
          <ion-icon slot="start" ios="at-circle-outline" md="at-circle"></ion-icon>
          <ion-label>{{ account.creator.name }}</ion-label>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>

</ion-grid>
