<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'grouping.create' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" (click)="close()">
        {{ 'general.cancel' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="!isSending" (click)="save()"
                  [disabled]="form == null || form.invalid">
        {{ 'general.save' | translate }}
        <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form role="form" *ngIf="form != null" [formGroup]="form">
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'general.name' | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </form>
</ion-content>
